body{
  /*Pone un color al fondo completo de la página, en este caso, steelblue = azul acero*/
  background: rgb(224, 221, 221);
}
/*Refiere al formato de texto que se encuentra dentro del "h1"*/
h1 {
  /*Pone una tipografía al título, estilo "sans-serif"*/
  font-family: sans-serif;
  /*Pone el título alineado respecto a la página, posición centro*/
  text-align: center;
  }
/*Refiere a la etiqueta de "tablero"*/
#calculadora {
  /*Pone un color al borde de la celda, a la calculadora*/
  border: black 3px solid;
  /*Pone un color al fondo de la celda, a la calculadora*/
  background-color: rgb(122, 39, 39);
  /*Pone un margen superior respecto a la página*/
  margin-top: 2%;
  /*Pone un límite para que los bordes entre celdas no colapsen y así la calculadora pueda verse independientemente del dispositivo que se estén usando*/
  border-collapse: collapse;
  /*Pone una altura fija a la imagen, al tablero*/
  height: 550px;
  /*Pone un ancho fijo a la imagen, al tablero*/
  width: 400px;
  /*Pone un margen o relleno entre lo que se encuentre dentro del div "calculadora" y el borde o pared intena de esta*/
  padding: 5px;
  /*Pone la imagen/elemento, la calculadora de forma centralizada respecto a la celda correspondiente de manera automática*/
  margin: auto;
}
/*Refiere a la etiqueta de "pantalla"*/
#pantalla {
  /*Pone un borde y grosor al bloque de resultados, "pantalla"*/
  border: black 1px solid;
  /*Pone un fondo de color blanco al interior del bloque/celda "pantalla"*/
  background-color: #68ebf5;
  /*Pone un margen superior respecto a la bloque/celda "pantalla"*/
  margin-top: 2px;
  /*Pone un ancho fijo a la imagen, a la bloque/celda "pantalla"*/
  height: 17%;
/*Refiere a la etiqueta de "teclado"*/
}
#teclado div div{
  /*Pone los elementos que se encuentran dentro del segundo div (nietos) en el lado izquierdo, permitiendo que otros elementos fluyan a su alrededor en el espacio restante*/
  float: left;
  /*Pone un borde y grosor al bloque de teclas, "teclado"*/
  border: 5px solid;
  /*Pone un fondo de color blanco al interior del bloque/celda "pantalla"*/
  background-color: black;
  /*Pone un margen o relleno entre lo que se encuentre dentro del div del "teclado" y el borde o pared intena entre las teclas*/
  padding: 25px;
  /*Pone un margen respecto a las teclas, dentro de la celda "teclado"*/
  margin: 10px;
  /*Pone un ancho fijo a la imagen, a las teclas*/
  width: 20px;
  /*Pone un color blanco al contenido de las teclas "teclado"*/
  color: white;
  /*Pone un tamaño fijo al contenido de las teclas "teclado"*/
  font-size: 30px;
  /*Pone en negrita al contenido de las teclas "teclado"*/
  font-weight: bold;
}